body{
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#general{
    width: 500px;
    height: 400px;
    background: #fff;
}

#p1{
    font-size: xx-large;
    margin-bottom: -20px;
}

#p2{
    font-size: medium;
}

#hyperlink{
    font-size: x-small;
}

#form{
    margin-left: 50px;
}

#email1{
    margin-top: 10px;
    width: 337px;
}

#email2{
    margin-top: 10px;
    width: 337px;
}

#senha{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 337px;
}

#btn{
    background-color: green;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    font-size: large;
}